
.body2 {
  font-family: "Brush Script MT", cursive;
  color: white;
}

#body1 {
  font-family: "Brush Script MT", cursive;
  color: white;
}

footer {
  background-color: #4C8151;
  padding: 10px;
  float: left;
  width: 100%;
  text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4C8151;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #4C8151;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #4C8151;
  }

 #column1 {
  display: flex;
  background-color: #4C8151;
 }

 #column1 div {
     align-items: center;
     margin: 20px;
     width: 100%;
 }

 .col { 
  font-family: "Brush Script MT", cursive;
  color: white;
  border-style: solid;
  border-width: 2px;
  padding: 20px;
  }

  #body1 {
    background-image: url("Plaatje 2 (3-lagenmodel).jpg");
}

#titelkopje1 {
    color: white;
    border-color: #4C8151;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-radius: 6px;
    padding: 40px;
    background-color: #4C8151;
}


  #p3 {
  background-color: #4C8151;
   padding: 50px;
   margin: 20px;
 }


 #div1 {
  background-color: #4C8151;
   padding: 50px;
   margin: 20px;
   height: auto;
   width: 25%;
   float: left;
 }

 #p6 {
  float: right;
  overflow: auto;
  width: 60%;
 }


#column2 {
  display: flex;
  background-color: #4C8151;
 }

 #column2 div {
  align-items: center;
  margin: 20px;
  width: 100%;
 }

 .col2 { 
  border-style: solid;
  border-width: 2px;
  padding: 20px;
  }
  
#column3a {
  border-style: solid;
  padding: 20px;
  background-color: #4C8151;
  float: left;
}

#column4 {
  display: flex;
  background-color: #4C8151;
 }

 #column4 div {
  align-items: center;
  margin: 20px;
  width: 100%;
 }

 .col4 { 
  font-family: "eras", monospace;
  color: white;
  border-style: solid;
  border-width: 2px;
  padding: 20px;
  }

  .links {
  float: left;
  } 
    
  .rechts {
  float: right; 
  }

 #div5 {
  border-style: solid;
  padding: 20px;
  background-color: #4C8151;
}

 a:link, a:visited {
  background-color: #4C8151;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

